html,
body  {
  position: relative;
  height: 100%;
}




  #prezzoscarpa {
    text-align: center;
    align-items: center;
    color: pink;

  }

  body {
    min-height: 100vh;
    margin: 0;
    display: grid;
    grid-template-rows: auto 1fr auto;
  }


  footer {
    background-color: deeppink;
    
    

  }





  body {
    font-family: Georgia, 'Times New Roman', Times, serif, sans-serif;
    margin: 0;
    padding: px;
    background-color: #f7f7f7;
  }

  h1 {
    font-size: 24px;
    margin-bottom: 20px;
  }

  .contact-info {
    margin-bottom: 20px;
  }

  .contact-info p {
    margin: 10px 0;
  }

  .contact-form {
    max-width: 700px;
    background-color: #e2befb;
    padding: 30px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: auto;
    margin-bottom: 30px ;
    margin-top: 0px ;
    
  }

  .form-group {
    margin-bottom:5px;
  }

  .form-group label {
    font-weight: bold;
    display: block;
  }

  .form-group input,
  .form-group textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 3px;
  
  }

  .form-group textarea {
    resize: vertical;
    height: 100px;
  }

  .form-group button {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 10px 16px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 3px ;
  }

  .contact-info {
   padding: 4%;
   text-align: center;
  }

  
  .hover-image {
    width: 90%;
    max-width: 700%;
    transition: all 0.3s ease;
    margin-left: 5%;
    
  }

  .hover-image:hover {
    transform: scale(0.9);
  }


  .navbar-toggler {
color: magenta

  }




  .product-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px,fr ));
    grid-gap: 10px;
  }

  .product-item {
    background-color: #ffffff;
    padding: 20px;
    text-align: center;
  ;
  }

  .product-item img {
    max-width: 70%;

    height: auto;
  }

  .product-item h3 {
    margin-top: 10px;
    font-size: 20px;
  }

  .product-item p {
    margin-top: 10px;
    font-size: 20px;
  }

  .product-item .price {
    font-size: px;
    font-weight: bold;
  }

  .product-item .btn {
    display: inline-block;
    margin-top: 10px;
    padding: 17px;
    background-color: deeppink;
    color: #fff;
    text-decoration: none;
    border-radius: 4px;
    transition: background-color 0.3s ease;
  }

  .product-item .btn:hover {
    background-color:darkorchid;
  }



  
